*{
    margin: 0;
    padding: 0;
    max-width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}
h1 ,h2, .h2 ,h3 ,span,ul li,.toggleTheme{
  overflow-x: visible;
}

body{
  background: #1f242d;
  color: white;
}
#preloader{
    background: #000 url(img/loader3.webp) no-repeat center center;
    /* background-size: 25%; */
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
  }
 

  .h2{
    display: flex;
    margin-top: 3%;
    justify-content: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }


/* Contact Me section styles */
.section {
padding: 50px 50px;
background-color: #f7f7f7;
}


.btn {
display: inline-block;
padding: 10px 20px;
border-radius: 5px;
font-weight: bold;
text-transform: uppercase;
background-color: #007bff;
color: #fff;
transition: all 0.3s ease;
}

.btn:hover {
background-color: #0056b3;
}

.myimg{
  width: 30vw;
  padding-top: 10%;
  animation: floatimg 4s ease-in-out infinite;
}
@keyframes floatimg{
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-2.4rem);
 
  }
  100%{
    transform: translateY(0);
  }
}
/* Footer */
.fab{
padding: 10px;
}
.face1{
font-size: 1.6rem;
}
.face1:hover{
  font-size: 1.8rem;
}
.down{
  border-radius: 10px;
}
.front{
  color: blue;
}
.aboutfont{
  font-size: 20px;
}
.box1{
  cursor: pointer;
  overflow: hidden;
 /*  box-shadow: 0 0.5rem 1rem rgb(0, 0, 0.3); */
  position: relative;
  border-radius: 2rem;
}
.invisibecontent{
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: -100%;
  left: 0;
  background: rgb(255, 255, 255,0.9);
}
.box1:hover .invisibecontent{
  position: absolute;
  top: 0;
  color: blue;
  
}
.space{
  margin-top: 5%;
}
.dark{
  font-weight: bold;
}
.lis{
  list-style: none;
}
html.sr .home-content {
  visibility: hidden;
}
.ho{
  font-family: 'Times New Roman', Times, serif;
}
.ho:hover{
  color: red;
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


@media screen and (min-width:300px) and (max-width:986px){
.dekh{
  display: flex;
  flex-direction: column-reverse;
}
}
:root {
  --main: #0011ff;
}









